body {
	font-family: "Calibri";
	font-size: 14pt;
}

a, b, h1, h2, h3, h4, th {
	color: #1566A8;
}

h1, h2, h3, h4 {
	display: inline-block;
}

table {
	margin-left: 50px;
}

table, th, td {
	padding: 5px;
	border: 1px solid;
	border-collapse: collapse;
	border-color: #7F7F7F;
}

th {
	background-color: #F0F0F0;
}

code, pre {
	font-family: "Monaco";
	font-size: 14px;
	color: black;
}

pre, div {
	border: 1px solid;
	border-color: #7F7F7F;
	background-color: #F0F0F0;
	margin-left: 50px;
	margin-bottom: 10px;
	padding: 10px;
	display: inline-block;
}

blockquote {
	border: 1px solid;
	border-color: #7F7F7F;
	background-color: #F0F0F0;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	display: inline-block;
}

#ebnf-text {
	font-style: italic;
	padding-left: 25px;
}

#config-text {
	padding-left: 25px;
	min-width: 500px;
}

#cmdln-text {
	padding-left: 25px;
	min-width: 500px;
}

#table-of-contents {
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 5px;
}

#mail-address {
	margin-left: 50px;
}

#url-component {
	font-style: italic;
}

#url-segment {
	font-family: "Consolas";
	font-size: 10pt;
}

#method-name {
	text-indent: 50px;
	font-style: italic;
}

#code-sample, #command-line {
	padding-left: 25px;
}

#sidebar {
	background-color: #F0F0F0;
	border-left: 4px solid #1566A8;
	margin-left: 10px;
	padding: 10px;
}

#note-byline::before {
	font-weight: bold;
	color: #1566A8;
	margin-right: 5px;
	content: "NOTE";
}

#warning-byline::before {
	font-weight: bold;
	color: #1566A8;
	margin-right: 5px;
	content: "WARNING";
}
